<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/Jose-LeonJL/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="Jose-LeonJL" />
			<add key="ClearTextPassword" value="" />
		</github>
	</packageSourceCredentials>
</configuration>